<div class="row">
	<form onsubmit="return submitTemplateFile(this, event)">
		<h4>Stream Control++ Template File</h4>
		<table>
			<tr>
				<td><label>Select File:</label></td>
				<td><input id="template_file" type="file" name="input_file" accept="*.scpp" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>
</div>
<hr/>
<div class="row">
	<form onsubmit="return submitDataFile(this, event)">
		<h4>Data File</h4>
		<table>
			<tr>
				<td><label>Select File:</label></td>
				<td><input id="template_file" type="file" name="input_file" accept="*.scpp" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>
	</form>
</div>
<script>
	function submitTemplateFile(form, e){
		e.preventDefault();
		var file = document.getElementById('template_file').files[0];
		console.log(file);

		if(!file)
			return alert('must submit a file to use this feature!');
		
		var postParams = {path: file.path};
		$.post('http://localhost:6161/api/files/templateFile', postParams, function(data, status){

		})
	}
</script>